/* Universal Styles */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #e6e3df;
  color: #0a6977;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Header section */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background-color: #4e2057;
}

h1 {
  text-align: left;
  color: #e6e3df;
  font-size: 2.3rem;
  padding-left: 15px;
  margin-left: 20px;
}

nav li {
  display: inline;
  margin: 2px;
  padding: 2px;
}

nav a {
  color: #e6e3df;
  text-decoration: none;
  font-size: 1.6rem;
}

nav a:hover {
  color: #0a6977;
}

nav.desktop {
  display: none;
}

nav.mobile {
  flex-grow: 1;
  text-align: left; /* So links don’t center when full width */
}

nav.mobile ul {
  display: flex;
  justify-content: center; /* or flex-start */
  gap: 1rem;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

i {
  color: #0a6977;
}

/* Main content styles */
.container {
  max-width: 1200px; /* Or whatever max width you want */
  margin: 75px auto 0 auto; /* margin-top and center horizontally */
  padding: 0 1rem;
  box-sizing: border-box;
  width: 100%;
}

/* About section */
#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

#about h2 {
  color: #e6e3df;
  background-color: #4e2057;
  font-size: 1.5rem;
  width: 100%;
}

#about p {
  color: #355155;
  background-color: rgba(236, 230, 218, 0.5);
  font-size: 1.2rem;
}

#about img {
  display: none;
  max-width: 100%;
  height: auto;
}

/* For Tablets, minimum of 600px */
@media only screen and (min-width: 600px) {
  header {
    height: 100px;
  }

  h1 {
    padding: 15px;
    margin-left: 30px;
  }

  .container {
    margin-top: 100px;
  }

  #about img {
    display: block;
  }
}

/* For laptops, minimum 1024px */
@media only screen and (min-width: 1024px) {
  header {
    height: 125px;
  }

  nav.desktop {
    display: inline;
  }

  nav.mobile {
    display: none;
  }

  nav a {
    text-decoration: none;
    font-size: 1.7rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  .container {
    margin-top: 125px;
  }
}

/* For Desktop, minimum of 1400px */
@media only screen and (min-width: 1400px) {
  nav a {
    text-decoration: none;
    font-size: 2.5rem;
  }

  h1 {
    font-size: 4rem;
  }
}